body {
    background-image: linear-gradient(to right, rgb(22, 178, 142), rgb(11, 77, 139));
}

h1, h3 {
    text-align: center;
    text-shadow: 2px 2px 5px white;
}

p {
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

button {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .row {
      margin: 50px 0px 50px 0px;
  }